<div class="container">
  <div class="row">
    <!-- Train image box -->
    <div class="col-12 mb-3">
      <div class="card shadow train-image-card">
        <div class="image-container">
          <img src="https://i.ibb.co/JrTpv8J/image.png" alt="Train with Indian flag">
        </div>
      </div>
    </div>

    <!-- User Manual box -->
    <div class="col-12 mb-3">
      <div class="card shadow">
        <div class="card-body d-flex align-items-center">
          <img src="https://i.ibb.co/vV7nQ9w/question-icon.png" alt="Question Icon" class="mr-3 icon">
          <h5 class="card-title mb-0">User Manual</h5>
        </div>
      </div>
    </div>

    <!-- IRCTC Website box -->
    <div class="col-12 mb-3">
      <div class="card shadow">
        <div class="card-body d-flex align-items-center">
          <img src="https://i.ibb.co/xX2XWfG/irctc-logo-E7-D060073-E-seeklogo-com.png" alt="IRCTC Icon" class="mr-3 icon irctc">
          <div>
            <h5 class="card-title">Visit IRCTC Website:</h5>
            <a href="https://www.irctc.co.in/" class="card-link">https://www.irctc.co.in/</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Railways Website box -->
    <div class="col-12 mb-3">
      <div class="card shadow">
        <div class="card-body d-flex align-items-center">
          <img src="https://i.ibb.co/5998BDk/railways-icon.png" alt="Railway Icon" class="mr-3 icon">
          <div>
            <h5 class="card-title">Visit Railways Website:</h5>
            <a href="https://www.indianrail.gov.in/" class="card-link">https://www.indianrail.gov.in/</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
